@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
:root {
  --background: #ffffff;
  --foreground: #171717;
  --cor1-obeci: #fedfcd;
  --cor2-obeci: #f2b694;
  --cor3-obeci: #d97c50;
  --cor4-obeci: #f8894a;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Nunito";
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
 */
