@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.class-card {
  width: 39.2rem;
  height: 27.6rem;
  background: #ffffff;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.388);
  border-radius: 3.5rem;
  display: flex;
  flex-flow: column;
  padding: 2.5rem;
  & h2 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    font-size: 4rem;
    color: #000000;
    margin-bottom: 0.5rem;
  }

  & .turno {
    margin-left: 2.5rem;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    color: #000000;
  }

  & .q_alunos {
    margin-left: 2.5rem;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    color: #000000;
  }

  & .ancora {
    margin-top: 4rem;
    margin-left: 16rem;
    width: 18.3rem;
    height: 4.2rem;
    font-size: 1.5rem;
    font-weight: 900;
    background: #fedfcd;
    border-radius: 3.5rem;
    color: #000;
    text-decoration: none;
    font-family: "Nunito";
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
      transition: ease-in-out 0.3s all;
      background: #f2b694;
    }
  }
}
